<div class="dimmer"></div>
<div id="form-addTable">
  <form action="" method="POST">
    <div class="form-group">
      <label for="name" class="update-label">Name</label>
      <input type="text" class="form-control" placeholder="NOT SET" name="name">
    </div>

    <div class="form-group">
      <label for="capacity" class="update-label">Capacity</label>
      <input type="number" class="form-control" value=10 name="capacity">
    </div>

    <% include ../partials/alerts %>

    <button type="submit" class="btn btn-primary btn-success">Add Table</button>
  </form>
</div>
