<div class="dimmer"></div>
<div id="form-editTable">
  <form action="" method="POST">
    <div class="form-group">
      <label for="name" class="update-label">Table Name</label>
      <input type="text" class="form-control" placeholder="Table Name" value="<%= table.name%>" name="name">
    </div>

    <div class="form-group">
      <label for="capacity" class="update-label">Capacity</label>
      <input type="number" class="form-control" value="<%= table.capacity%>" name="capacity" min=1>
    </div>

    <% include ../partials/alerts %>

    <input type="hidden" name="id" value=<%= table.id%>>

    <button type="submit" class="btn btn-primary" name="action" value="update">Update</button>
    <button type="submit" class="btn btn-primary btn-danger" name="action" value="remove">Remove</button>
  </form>
</div>
