<ul>

  <% if (currentUser) { %>
    
    <li class="nav"><a class="navLinks" id="home" href="/">Home</a></li>
    <li class="nav"><a class="navLinks" id="about" href="#">About</a></li>

    <% if (currentUser.admin) { %>

      <li class="nav"><a class="navLinks" id="manage" href="/admin">Manage</a></li>
      <li class="nav"><a class="navLinks" id="adminCheckIn" href="/admin/checkin">Check In</a></li>

    <% } %>

    <li class="nav"><a class="navLinks" id="preference" href="/preference">Preference</a></li>
    <li class="nav"><a class="navLinks" id="logout" href="/logout">Logout</a></li>

  <% } %>
</ul>
