<ul>
  <li class="nav"><a class="navLinks" id="about" href="#">About</a></li>
  <li class="nav"><a class="navLinks" id="preference">Preference</a></li>
  <li class="nav"><a class="navLinks" id="login">Login</a></li>
  <li class="nav"><a class="navLinks" id="signup" href="/signup">Signup</a></li>
</ul>
