<div class="dimmer"></div>
<div id="form-preference">
  <form action="/preference" method="POST">
    <div class="form-group">
      <label for="attending">Attending</label>
      <select class="attending" name="attending">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>

    <div class="form-group">
      <label for="foodPref">Food Preference</label>
      <select class="foodPref" name="foodPref">
        <option value="any">Any</option>
        <option value="halal">Halal</option>
        <option value="vegetarian">Vegetarian</option>
        <option value="other">Other</option>
      </select>
    </div>
    <% if (user.headCountAllowed > 1) { %>
      <div class="form-group">
        <label for="addGuest">Additional Guests</label>
        <select class="addGuest" name="addGuest">
        <% for (var i=0; i < user.headCountAllowed; i++) { %>
          <option value="<%= i %>">
          <%= i %>
          </option>
        <% } %>
        </select>
      </div>
    <% } %>
    <button type="submit" class="btn btn-primary" id="preference-submit">Update</button>
  </form>
</div>
